@import "tailwindcss";

@font-face {
    font-family: font-1;
    src: url(../src/Fonts/Lausanne-300.ttf);
}
@font-face {
    font-family: font-2;
    src: url(../src/Fonts/Lausanne-500.ttf);
}
body{
    overflow-x: hidden;
}