@import "tailwindcss";

@font-face {
  font-family: font-1;
  src: url(../src/assets/Fonts/Lausanne-300.ttf);
}
@font-face {
  font-family: font-2;
  src: url(../src/assets/Fonts/Lausanne-500.ttf);
}
body {
  overflow-x: hidden;
}
.moveX {
  animation-name: movingAnimation;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: linear;
}
.moveLink {
  animation-name: movingDivAnimation;
  opacity: 0;
  transition: all ease 0.2s;
}
.link:hover .moveLink {
  opacity: 1;
}
@keyframes movingAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-80%);
  }
}
@keyframes movingDivAnimation {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}
